{% block imagesForm %}
    <div class="mt-2 form-group">
        {% for media in trick.media if media.type == 'image' or 'fixture' %}
            {% if loop.first %}
                <img id="uploaded-image-0" class="card-img-top" src="{{ asset( media.publicUrl ) }}"
                     alt="Card image cap">
                <a class="btn btn-primary delete-media-btn" href="javascript:void(0)"
                   btn-action="{{ path('delete-media', {'mediaId': media.id}) }}" role="button" data-toggle="modal"
                   data-target="#delete-media" style="margin-top:-70px"><i class="far fa-trash-alt"></i></a>
            {% endif %}
        {% endfor %}
        <div class="add-trick-content">
            <div class="list-tricks-images row text-center">
                {% for media in trick.media if media.type == 'image' or 'fixture' %}
                    {% if not loop.first %}
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <img id="uploaded-image-1" src="{{ asset(media.publicUrl) }}" alt="trick-image"
                                     class="preview">
                                <a class="btn btn-primary delete-media-btn" href="javascript:void(0)"
                                   btn-action="{{ path('delete-media', {'mediaId': media.id}) }}" role="button"
                                   data-toggle="modal" data-target="#delete-media"
                                   ><i class="far fa-trash-alt"></i></a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="form-group-lg">
                <div class="col-12 text-center">
                <h5 class="card-title">Ajouter une ou plusieurs images</h5>
                <h6 class="card-title">Veuillez cliquer sur le bouton si-desous pour ajouter une ou plusieurs images.</h6>

                <button id="add-image-btn" class="btn btn-primary add-image-btn"><i id="upload-img-loading" class="fas fa-spinner fa-2x"></i> <i id="upload-img-plus" class="fas fa-plus fa-2x"></i></button>
                    {{ form_errors(form.image) }}
                </div>
                <span style="display:none">{{ form_widget(form.image) }}</span>

            </div>
        </div>
    </div>
{% endblock imagesForm %}