{% include 'frontend/layout.html.twig' %}
{% block content %}
    <!=====----- navigation -----=====>
    {% include('Frontend/parts/navigation.html.twig') %}
    <!=====----- navigation end-----=====>

    <div class="main-container container-fluid">
        <div id="main-header" class="main-header row">
        <img src="{{ asset('img/bg.jpg') }}" alt="image">
            <div id="header-title" class="header-title">
                <h1>Les Tricks<br> Typiques de <br><span>Snowboard </span>à Connaître </h1>
                <h4>La montagne, ça vous gagne!</h4>
                <div class="clearfix"></div>
                <a class="btn btn-primary" href="#" role="button">En savoir plus</a>
            </div>
        </div>
        <div class="main-content row">
            <div id="list-tricks" class="list-triks row-fluid text-center">


                {% for trick in tricks %}
                    <div class="card trick-card col-lg-3 col-md-3">
            <span class="card-pattern">
               <ul>
                   <li><a href="#"><i class="far fa-trash-alt"></i></a></li>
                   <li><a href="#"><i class="far fa-edit"></i></a></li>
                   <li><a href="#"><i class="far fa-share-square"></i></a></li>
                   <li><a href="#"><i class="fas fa-search-plus"></i></a></li>
               </ul>
            </span>
                        <img class="card-img-top" src="{{ trick.image }}" alt="card trick-card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ trick.name }}</h5>
                            <p class="card-text">{{ trick.description }}</p>
                            <a href="#" class="btn btn-primary">En savoir plus</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- Footer -->
            <footer class="page-footer font-small blue pt-4">

                <!-- Footer Links -->
                <div class="container-fluid text-center text-md-left">

                    <!-- Grid row -->
                    <div class="row">

                        <!-- Grid column -->
                        <div class="col-md-6 mt-md-0 mt-3">

                            <!-- Content -->
                            <h5 class="text-uppercase">Snow Tricks</h5>
                            <p>Qu'elles soient "old school" ou "new school", <br>les prouesses aériennes du snowboard sont toujours d'une beauté à couper le souffle.<br> la preuve en images.</p>

                        </div>
                        <!-- Grid column -->

                        <hr class="clearfix w-100 d-md-none pb-3">

                        <!-- Grid column -->
                        <div class="col-md-3 mb-md-0 mb-3">

                            <!-- Links -->
                            <h5 class="text-uppercase">Menu</h5>

                            <ul class="list-unstyled">
                                <li>
                                    <a href="#!">Accueil</a>
                                </li>
                                <li>
                                    <a href="#!">Tricks</a>
                                </li>
                                <li>
                                    <a href="#!">Login</a>
                                </li>
                                <li>
                                    <a href="#!">Register</a>
                                </li>
                            </ul>

                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-3 mb-md-0 mb-3">

                            <!-- Links -->
                            <h5 class="text-uppercase">Liens Utiles</h5>

                            <ul class="list-unstyled">
                                <li>
                                    <a href="https://fr.wikipedia.org/wiki/Snowboard">Wikipedia</a>
                                </li>
                                <li>
                                    <a href="http://www.skiclub-legrandbornand.com/content/lexique-du-snowboarder-0">Lexique du snowboarder</a>
                                </li>
                                <li>
                                    <a href="https://www.redbull.com/ch-fr/les-tricks-typiques-de-snowboard">Les tricks typiques de snowboard</a>
                                </li>
                                <li>
                                    <a href="http://www.skipass.com/forums/sports/snowboard/sujet-67154.html">Forum</a>
                                </li>
                            </ul>

                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                </div>
                <!-- Footer Links -->

                <!-- Copyright -->
                <div class="footer-copyright text-center py-3">© 2018 Copyright :
                    <a href="https://p6.hamda.ch">  www.hamda.ch</a>
                </div>
                <!-- Copyright -->

            </footer>
            <!-- Footer -->
        </div>
    </div>


{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('build/js/app.js') }}" ></script>
{% endblock javascripts %}
