{% include('Frontend/layout.html.twig') %}
{% block content %}
<div class="main-container container-fluid">
    <!=====----- navigation -----=====>
    <nav class="main-nav navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#"><img class="nav-logo" src="{{ asset('img/logo.png') }}" alt=""> Snow-Triks</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown link
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <!=====----- navigation end-----=====>

    <!=====----- header -----=====>
    <div class="main-header">
                <img class="img-fluid" src="http://ngn-mag.com/image/wallpaper/fond-ecran-snowboard-4.jpg" alt="First slide">
        <div class="header-title">
            <h1>Les Tricks<br> Typiques de <br><span>Snowboard </span>à Connaître </h1>
            <h4>La montagne, ça vous gagne!</h4>
            <div class="clearfix"></div>
            <a class="btn btn-primary" href="#" role="button">En savoir plus</a>
        </div>
    </div>
    <!=====----- header end -----=====>

    <!=====----- content -----=====>
    <div class="list-triks row-fluid text-center">


        {% for trick in tricks %}
        <div class="card trick-card col-lg-3 col-md-3" >
            <img class="card-img-top" src="{{ trick.image }}" alt="card trick-card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ trick.name }}</h5>
                <p class="card-text">{{ trick.description }}</p>
                <a href="#" class="btn btn-primary">En savoir plus</a>
            </div>
        </div>
        {% endfor %}

    </div>
    <!=====----- content end -----=====>



</div>

<script type="text/javascript" src="{{ asset('build/js/app.js') }}"></script>
{% endblock content %}