{% extends 'frontend/layout.html.twig' %}
{% block content %}
    <div class="main-container container-fluid col-sm-12 col-md-12 col-lg-6">
        {{ form_start(resetPasswordDoForm,{'attr':{'class':'register-form','method':'post'}}) }}
        <div class="street-titles col-12">
            <h1>Reset</h1>
        </div>
        <div class="form-group">
            {{ form_errors(resetPasswordDoForm) }}
        </div>
        <div class="form-group">
            <h2>Changer mon mot de passe</h2><br>
            <small>- Veuillez saisir votre nouveau mot de passe</small>
        </div>
        <div class="form-group">
            <label>* Nouveau mot de passe</label>
            {{ form_widget(resetPasswordDoForm.password.first,{ 'attr': {'class': 'pimp'} }) }}
            <span class="form-loader"></span>
            {{ form_errors(resetPasswordDoForm.password.first) }}
        </div>
        <div class="form-group">
            <label>* Confirmer le mot de passe</label>
            {{ form_widget(resetPasswordDoForm.password.second,{ 'attr': {'class': 'pimp'} }) }}
            <span class="form-loader"></span>
            {{ form_errors(resetPasswordDoForm.password.second) }}
        </div>
        <div class="form-group">
            <small> Les articles marqués avec un asterisque (*) sont obligatoires.</small>
        </div>
        <button type="submit" class="btn btn-primary">Envoyer</button>
        {{ form_end(resetPasswordDoForm) }}
    </div>
{% endblock content %}
