{% extends 'frontend/layout.html.twig' %}
{% block content %}
    <div class="main-container container-fluid col-sm-12 col-md-6 col-lg-6">
        {{ form_start(resetPasswordForm,{'attr':{'class':'register-form','method':'post'}}) }}
        <div class="form-row">
            <div class="street-titles col-12">
                <h1>Reset</h1>
            </div>
            <div class="form-group">
                {% for error in app.flashes('errors')%}
                    <span class="alert alert-danger d-block"><span class="d-block">
                    <span class="form-error-icon badge badge-danger text-uppercase">Erreur</span> <span class="form-error-message">{{ error }}</span>
                </span></span>
                {% endfor %}
            </div>
            <div class="form-group text-center">
                <h2>Changer mon mot de passe</h2><br>
                <small>- afin de modifier votre mot de passe nous devons vérifier votre adresse email</small>
                <small>merci de saisir votre email ci-dessous.</small>
            </div>
            <div class="form-group">
                <label>* Adresse email</label>
                {{ form_widget(resetPasswordForm.email,{ 'attr': {'class': 'pimp'} }) }}
                {{ form_errors(resetPasswordForm.email) }}
                <span class="form-loader"></span>
                <small class="form-text text-muted">Votre adresse email ne sera pas retransmise à des tiers.</small>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Envoyer</button>
        {{ form_end(resetPasswordForm) }}
    </div>
{% endblock content %}
