{% extends 'frontend/layout.html.twig' %}

{% block content %}
    <!=====----- navigation -----=====>
    {% include('frontend/parts/navigation.html.twig') %}
    <!=====----- navigation end-----=====>

    <div class="main-container container-fluid col-sm-12 col-md-6 col-lg-6">

        {{ form_start(resetPasswordForm,{'attr':{'class':'register-form','method':'post'}}) }}
        <div class="form-row">
            <div class="form-group">

                {{ form_errors(resetPasswordForm) }}
                {% for error in errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error.message }}
                    </div>
                {% endfor %}
            </div>
            <div class="form-group text-center">
                <h2>Changer mon mot de passe</h2><br>
                <small>- afin de modifier votre mot de passe nous devons vérifier votre adresse email</small>
                <small>merci de saisir votre email ci-dessous.</small>
            </div>

            <div class="form-group">


                <label>* Adresse email</label>
                {{ form_widget(resetPasswordForm.email,{ 'attr': {'class': 'pimp'} }) }}
                <span class="form-loader"></span>
                <small class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>


        </div>
        <button type="submit" class="btn btn-primary">Envoyer</button>

        {{ form_end(resetPasswordForm) }}

    </div>

{% endblock content %}